*
{
    margin: 0;
    padding: 0;

}
body
{
    background-color: rgb(25, 25, 38); /* 0, 0, 33*/
    color: aliceblue; /*white*/
    font-family: Mitr, sans-serif; /*poppins*/
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(30, 30, 62);
    
}

 nav ul
{
    display: flex;
    align-items: center;
}

nav ul li
{
    list-style: none;
    margin: 0 20px; 
} 

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover
{
    color:rgb(88, 58, 115);
    font-size: 1.05rem;
}

main hr {
    height: 1px;
    margin: 51px -5px; /*20 px*/
    border: 0;
    background-color: #602e8e;
}

.left{
    font-size: 1.5rem;
}

.firstSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0; /*23px*/
}

.firstSection > div
{
    width: 45%;
}

.leftSection
{
    margin: 50px 0;
    font-size: 2.5rem;
}

.leftSection .btn {
    border: 1px solid white;
    font-size: 20px;
    color: white;
    border-radius: 3px;
    height: 40px;
    background-color: #5b5b99;
    padding: 8px;
    margin: 6px;
    transition: background-color 0.3s, border-color 0.3s; 
    text-decoration: none;
}

.leftSection .btn:hover {
    background-color: #22225d; 
}


.name{
    color: rgb(107, 43, 172);
}

img{
    width: 80%;
}

.text-grey{
    color: rgb(118, 113, 123);
}

#element{
    color: blueviolet;
}
.secondSection{
    max-width: 100vw;
    margin: 30px;
    height: 80vh; 
}

.secondSection h1{
    font-size: 2rem;
}

.secondSection .education-box{
    display: flex;
    background-color: white;
    width: 160vh; /*increase this to get width*/
    height: 1px;
    margin: 40px 35px;
}

.secondSection .vertical-box{
    height: 40vh;
    width: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    margin-right: 140px;
    background-color: white;
}

.img-top{
    position: relative;
    /* border: 1px solid rgb(108, 26, 167); */
    width: 40px;
    height: 24px;
    top: -32px;
    /* left: 0px; */
}

.vertical-title
{
    width: 150px;
    margin-left: 10px;
    color: gray;
}
.vertical-description
{
    position: relative;
    color: gray;
    margin-left: 10px;
    font-size: 0.7rem;
    margin-top: 20px;
    width: 150px;
}

 .ThirdSection{  /* footer*/
    /* display: flex; */
    background-color: #181031;
    height: 200px;
    margin-top: 100px;
    padding-top: 40px;
    padding-left: 35px;
} 

.progress{
    margin-top: 10px;
    padding: auto;
    margin-left: 20px;
    margin-right: 20px;
   background-color: #342740;
}