*
{
    margin: 0;
    padding: 0;

}
body
{
    background-color: rgb(25, 25, 38); /* 0, 0, 33*/
    color: aliceblue; /*white*/
    font-family: Mitr, sans-serif; /*poppins*/
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(30, 30, 62);

}

 nav ul
{
    display: flex;
    align-items: center;

}

nav ul li
{
    list-style: none;
    margin: 0 20px; /*23px*/
} 

.left{
    font-size: 1.5rem;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    margin:20px 0; /*23px*/
}

.firstSection div
{
   
    width: 30%;
}

.leftSection
{
    background-color: red;
}


.rightSection
{
    background-color: red;
}